
@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h2>Assets</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tipo de Asset</th>
                    <th scope="col">Qtd em Uso</th>
                    <th scope="col">Qtd Disponível</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Monitor</td>
                    <td>10</td>
                    <td>20</td>
                    <td>30</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Computador</td>
                    <td>7</td>
                    <td>5</td>
                    <td>12</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Notebook</td>
                    <td>9</td>
                    <td>6</td>
                    <td>15</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
