@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Suporte:</strong>   <a href="mailto:ec.salicani8@gmail.com">ec.salicani8@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:camillacmaraujo1@hotmail.com">camillacmaraujo1@hotmail.com</a>
</address>