
@{
    ViewBag.Title = "Perfis";
}

<div class="jumbotron">
    <h2>Perfis</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tipo de Perfil</th>
                    <th scope="col">Qtd Usuários</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Administrador</td>
                    <td>3</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Gerente</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Analista</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>